form.form-row {
    display: table;
}

div.form-row {
    display: table-row;
}

label, input, select {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

span{
	font-weight: bold;
}